.card {
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.tag {
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
  padding: 0.2rem 0.4rem;
  margin-right: 0.2rem;
  font-size: x-small;
}

.authorList {
  margin-bottom: 0.5rem;
}

.toggleAbstract {
  margin-left: 0.5rem;
  cursor: pointer;
}
