.tag {
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  padding: 0.1rem 0.4rem;
  margin-right: 0.2rem;
}

.card {
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.cardContainer {
  margin: auto;
  width: 50rem;
}

.tagContainer {
  margin: 0.5rem 0;
}

.projectTitle {
  font-size: xx-large;
  font-weight: 900;
  margin-left: 1rem;
}

.authorList {
  margin-bottom: 0.5rem;
}
